.panel-body {
	text-align: center;
	padding: 10px;
}

h3 {
	font-size: 16pt;
	margin: 0px;
}

.btn {
	width: 110px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-default {
	padding: 0px;
}

.col-md-4 {
	margin: 10px;
	width: auto;
}

.jumbotron {
	background-color: #5cb85c;
}

.client-selection {
    text-align: center;
    overflow: hidden;
    border: 1px solid;
}